table {
    width: fit-content !important;
    margin: auto;
}

a {
    display: inline-block;
    text-decoration: none;
    transition: all .3s;
}

a:hover {
    text-decoration: underline;
}

figcaption {
    color: #bbb;
    text-align: center;
    margin: 4px;
}

img {
    border-radius: 2px;
}

.app-name-link {
    font-weight: 700;
    margin: 16px;
    font-family: "Poppins", "Source Sans Pro", Helvetica, Arial, sans-serif;
}

.MathJax_Display{overflow-x:auto;overflow-y:hidden;}
.MathJax{outline:0;}

*::selection {
    background-color: rgba(66, 185, 131, .2);
    color: inherit;
}